.messages
  .massage
    .upper-info
      %span.upper-info__user 
        ライフコーチ
      %span.upper-info__date   
        2019/05/24 09:25:47
    .text
      a
  .massage
    .upper-info
      %span.upper-info__user 
        ライフコーチ
      %span.upper-info__date   
        2019/05/24 09:25:47
    .text
      a