!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ChatSpaceProto
    %meta{:content => "authenticity_token", :name => "csrf-param"}/
    %meta{:content => "LOYDlxL9YHqZFGMUtcU0zEX7fENZotW7mcsHv04KuDTz6RU1af3ZSOs3VawSGFQTDkNz/p57PMq6K4pMEfYPJA==", :name => "csrf-token"}/
    %link{"data-turbolinks-track" => "reload", :href => "/assets/application-2f82c62a7612ec80c93af4b8afb77ffcec39f6615209cc44a6bf245204dcd451.css", :media => "all", :rel => "stylesheet"}/
    %script{"data-turbolinks-track" => "reload", :src => "/assets/application-8edc245abda810768ef3fe3c5173b344b19ab2bd6c346c842d24949e917a271d.js"}
  %body
    .flash-box
    .wrapper
      .chat-side
        .side-header
          %p.side-header__user-name abcde
          %ul.user-menu
            %li.user-menu__edit-user
              %a{:href => "/groups/new"}
                %i.fa.fa-edit
            %li.user-menu__new-group
              %a{:href => "/users/647/edit"}
                %i.fa.fa-cog
        .groups
          %a{:href => "/groups/1368/messages"}
            .group
              %p.group__group-name EXP__
              %p.group__latest-message こんにちは
          %a{:href => "/groups/1367/messages"}
            .group
              %p.group__group-name EXP
              %p.group__latest-message こんにちは
      .chat-main
        .main-header
          .current-group{"data-group_id" => "1368"}
            %h2.current-group__name EXP__
            %ul.member-list
              Member：
              %li.member-list__member abc
          %a{:href => "/groups/1368/edit"}
            .main-header__edit-btn Edit
        .messages
          .message{"data-message_id" => "3581"}
            .upper-info
              %p.upper-info__user abcde
              %p.upper-info__date 2019/05/24(Fri) 09:25:47
            %p.message__text こんにちは
        .form
          %form#new_message.new-message{"accept-charset" => "UTF-8", :action => "/groups/1368/messages", :enctype => "multipart/form-data", :method => "post"}
            %input{:name => "utf8", :type => "hidden", :value => "✓"}/
            %input{:name => "authenticity_token", :type => "hidden", :value => "WNzgI8XdewCnl4JgsKepCzk8+iuIQeP6KpyvaDjBDUTdsntONgrRM61v1LGeCo5uF+47Ea7VAOcY5H/jFAieFQ=="}/
            .input-box
              %input#message_content.input-box__text{:name => "message[content]", :placeholder => "type a message", :type => "text"}/
              %label.image-label{:for => "message_image"}
                %i.fa.fa-image
            %input.new-message__submit-btn{"data-disable-with" => "Send", :name => "commit", :type => "submit", :value => "Send"}/
